@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
  scroll-behavior: smooth;
}
body{
  min-width: 280px;
}
.line-height-none {
  line-height: normal;
}
a {
  text-decoration: none;
  color: white;
  transition: all ease-in 0.2s;
}
span {
  display: block;
}

/* ===============================TOP LANDING=============================== */

.landing {
  background-image: url("images/b2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  color: white;
}
#top-head {
  font-size: 31px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 10px 50px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
}
.nav li a:hover {
  cursor: pointer;
  color: #a3c962;
}

.landing-text {
  text-align: center;
  max-width: 790px;
  margin: 20vh auto;
  letter-spacing: 2px;
}
.landing-text p span {
  padding-bottom: 12px;
}

.font-md {
  font-size: 28px;
  font-weight: bold;
}
.font-lg {
  font-size: 39px;
  font-weight: bolder;
}

button {
  color: white;
  margin-top: 3%;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: bolder;
  border: 2px solid #fff;
  transition: all ease-in 0.2s;
  letter-spacing: 2px;
}

button.white-btn {
  color: #a3c962;
  margin-right: 20px;
}

button.green-btn {
  background-color: #a3c962;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* ===========================================ABOUT US===================================== */
.about-section {
  margin: 4% auto;
  max-width: 1000px;
}
.what-we-do {
  text-align: center;
  max-width: 790px;
  margin: 5% auto;
}
.what-we-do p span {
  padding-bottom: 5px;
}
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-us-desc {
  max-width: 50%;
}

.heading {
  font-size: 20px;
  color: #a3c962;
  font-weight: 900;
}
.sub-head {
  font-size: 24px;
  font-weight: 700;
}
.text-sm {
  font-size: 14px;
}
.what-we-do p span.sub-head {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 2%;
}

.what-we-do p span.text-sm {
  max-width: 400px;
  margin: 0 auto;
}
.about-us-desc p span {
  padding-bottom: 10px;
}
.about-us-desc p span.sub-head {
  line-height: normal;
  font-weight: normal;
}

.stats {
  display: flex;
  justify-content: space-between;
}
.stats {
  text-align: center;
  margin-top: 20px;
}

.outer-circle {
  border-radius: 50%;
  padding: 20px;
}
.inner-circle {
  font-size: 25px;
  padding: 30px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ninety {
  border: 2px solid #049dff;
  border-left: none;
  color: #049dff;
}
.eighty {
  border: 2px solid #1abc9c;
  border-top: none;
  border-left: none;
  color: #1abc9c;
}

.seventy {
  border-right: 2px solid #fdba04;
  color: #fdba04;
  border-top: 2px solid #fdba04;
}

.inner-circle {
  font-size: 25px;
  padding: 30px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.stats h3 {
  padding-top: 10px;
  font-weight: normal;
}
div.image2 {
  max-width: 400px;
}
div.image2 img {
  width: 100%;
  height: 100%;
}

/* ===========================SERVICE SECTION=========================================  */

.service-section {
  max-width: 100%;
  background-image: url("images/s1.jpg");
}

.service-desc {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: normal;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
.service-section p {
  padding-left: 2%;
}
.service-showcase {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service {
  max-width: 350px;
  height: 230px;
  background-color: white;
  border: 2px solid white;
  text-align: center;
  padding: 40px 24px;
  margin-top: 20px;
  transition: ease-in 0.2s;
}
.service i {
  transform: scale(2.3);
}
.service p span {
  padding-bottom: 15px;
}
.green-text {
  color: #a3c962;
}

.service:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #dadada;
}

/* #===============small-div================ */

.green-bg {
  background-color: #a3c962;
  color: white;
}
.text-blk {
  color: black;
}

.small-div1 {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.small-div1 div {
  text-align: center;
  max-width: 100px;
}
.number {
  font-size: 25px;
  font-weight: bold;
}
.caption-text {
  font-size: 22px;
  font-weight: bold;
}
.small-div1 p span i {
  transform: scale(1.5);
}

/* =======================Features-section===================== */
.features-section p {
  padding-left: 2%;
}

.features-desc {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: normal;
}

.features-showcase {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 4% auto;
}
.features {
  max-width: 700px;
}
.features-block p {
  max-width: 500px;
}
.features-block .icon {
  padding: 30px 5vw;
  text-align: center;
}
.features-block span i {
  transform: scale(3);
}
.features-block {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: -3px 7px 39px -5px rgb(0 0 0);
}
/* 
==================Prices section======================== */
.prices-section {
  max-width: 100%;
  background-image: url(images/b2.jpg);
}
.prices-section p {
  padding-right: 2%;
}

.prices-desc {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: normal;
}

.text-white {
  color: white;
}
.prices-showcase {
  max-width: 1300px;
  padding: 4% 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.prices-box {
  width: 255px;
  background: white;
  text-align: center;
  padding: 24px;
  border-radius: 12px;
}
.prices-box p span {
  padding: 4%;
}
.dollar {
  display: inline;
}
span.prices-box-text {
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}
.pricing-type {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bolder;
}

/* ========================FEATURES SECTION====================== */

.clients-section p {
  padding-left: 2%;
}

.clients-desc {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: normal;
}

.clients-showcase {
  max-width: 1100px;
  margin: 4% auto;
  display: flex;
  justify-content: space-between;
}
.clients-box {
  max-width: 320px;
}
/* ================================SMALL DIV-2================================ */

.small-div2-desc {
  margin: 0 auto;
  max-width: 1200px;
  padding: 70px;
  padding-bottom: 50px;
  text-align: center;
}
i.play-btn {
  color: black;
  font-size: 35px;
  transition: all 0.2s ease-in;
}
i.play-btn {
  border: 5px solid white;
  padding: 15px 18px;
  display: inline;
  border-radius: 55%;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: white;
}
i.play-btn:hover {
  border-color: black;
  background-color: black;
  color: white;
}

.small-div2-desc span {
  text-align: center;
}
.small-div2-desc p {
  margin-top: 30px;
}

/* =========================VOLUNTEERS SECTION============================ */
.volunteers-section p {
  padding-left: 2%;
}

.volunteers-desc {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: normal;
}

.volunteers-showcase {
  max-width: 1200px;
  margin: 4% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.volunteers-box {
  max-width: 330px;
  text-align: center;
}
span.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 150px;
  margin: 0 auto;
}
span.social-icons i {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 55%;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 5px 6px;
  transition: all 0.2s ease-in;
}

span.social-icons i:hover {
  background-color: #a3c962;
  border-color: #a3c962;
  cursor: pointer;
}

/* =========================BLOGS SECTION=================================== */
.blogs-section {
  background-image: url("images/b1.jpg");
  width: 100%;
}
.blogs-section p {
  padding-right: 2%;
}
.blogs-section {
  padding: 2%;
}

.blogs-desc {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: normal;
}
.blogs-showcase {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  margin: 4% auto;
  flex-wrap: wrap;
}

.inner-box img {
  width: 100%;
  object-fit: contain;
}
.inner-box p {
  display: block;
}
.blogs-box {
  background-color: white;
  max-width: 350px;
  padding: 15px;
  transition: all 0.2s ease-in;
}
.flex-text {
  display: flex;
  justify-content: space-between;
}

.blogs-text {
  padding: 10px 0;
}

.blogs-box:hover {
  cursor: pointer;
  transform: rotate(5deg);
}

/* ===============================CONTACTS SECTION====================================== */

.contact-section p {
  padding-left: 2%;
}

.contact-desc {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: normal;
}

.contact-showcase {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 4% auto;
}

.contact-form {
  width: 570px;
}

form {
  display: flex;
  flex-direction: column;
}
.contact-form input,
textarea,
.send-btn {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: #efefef;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 1px 0px black;
  outline: none;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.contact-form input:focus,
textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

textarea {
  resize: none;
}
.info {
  display: flex;

  align-items: center;
}
.info .icon {
  display: inline-block;
  transform: scale(2);
  padding: 0 30px;
}

.info p {
  max-width: 400px;
  padding: 20px;
  text-align: left;
}
div.contact-info {
  max-width: 600px;
}

/* =================MAP-SECTION============================= */

.map-section {
  padding: 10px;
  border: 1px solid #6c757d;
}

.small-div3 {
  padding: 3%;
}
.small-div3 p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.footer-icons i {
  color: black;
  border: 10px solid white;
  border-radius: 55%;
  background-color: white;
  transition: all 0.2s ease-in;
}
.footer-icons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-width: 150px;
  margin: 0 auto;
}
.footer-icons i:hover {
  color: white;
  border-color: black;
  background-color: black;
  cursor: pointer;
}

.top-arrow i {
  color: black;
  border: 10px solid white;
  border-radius: 55%;
  background-color: white;
  transition: all 0.2s ease-in;
}

.top-arrow i:hover {
  color: white;
  border-color: black;
  background-color: black;
  cursor: pointer;
}

#github-repo:hover {
  color: white;
}

@media (max-width: 1042px) {
  .about-section,
  .features-section {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 952px) {
  .about-us {
    flex-direction: column;
    align-items: center;
  }
  .about-us-desc {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .stats {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 770px) {
  .service-showcase,
  .service-desc,
  .features-desc,
  .prices-desc,
  .clients-desc,
  .clients-showcase,
  .volunteers-desc,
  .blogs-desc,
  .blogs-showcase,.contact-desc, .contact-showcase {
    flex-direction: column;
    align-items: center;
  }
  .service-desc div,
  .service-desc p,
  .features-desc div,
  .features-desc p,
  .prices-desc div,
  .prices-desc p,
  .clients-desc div,
  .clients-desc p,
  .clients-box,
  .volunteers-desc div,
  .volunteers-desc p,
  .blogs-desc div,
  .blogs-desc p,
  .contact-desc div,
  .contact-desc p {
    text-align: center;
  }
  .clients-box,
  .blogs-box {
    margin-bottom: 20px;
  }
  .clients-box {
    max-width: 600px;
  }
  .contact-info{
    max-width: 90vw;
    align-items: center;
  }
  .info{
    width: 100%;
  }

}

@media (max-width: 440px) {
  .small-div1 {
    flex-direction: column;
    align-items: center;
  }
  .small-div1 p {
    margin-bottom: 30px;
  }
}

@media (max-width: 1038px) {
  .features-showcase {
    flex-direction: column;
    align-items: center;
  }

  .features {
    margin-top: 20px;
  }
  .prices-showcase {
    flex-wrap: wrap;
  }
  .prices-box,
  .volunteers-box {
    margin-bottom: 20px;
  }
}
@media (max-width: 535px) {
  .features-block {
    flex-direction: column;
    align-items: center;
  }
  .features-block p {
    text-align: center;
  }
  .prices-showcase,
  .volunteers-showcase {
    flex-direction: column;
    align-items: center;
  }
  .about-us-desc{
    max-width: 406px;
  }
  

}

@media (max-width: 1323px) {
  .prices-showcase {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1117px) {
  .clients-showcase {
    margin-left: 10px;
    margin-right: 10px;
  }
  .blogs-box {
    margin-bottom: 20px;
  }
}

@media (max-width: 1217px) {
  .volunteers-showcase {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width:590px) {
  .contact-form{
    width: 100%;
  }

  
}

@media max {
  
}
